{% load static wagtailcore_tags wagtailuserbar wagtailsettings_tags
django_browser_reload django_vite %} {% get_settings %}
<!doctype html>
<html lang="fr">
  <head>
    {% vite_hmr_client %} {% vite_asset 'static_src/js/main.js' defer="true" %}
    <meta charset="utf-8" />
    <title>Retail Conseil & Formation</title>
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if request.in_preview_panel %}
    <base target="_blank" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'dist/main.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% include "components/navbar.html" %}
    <div class="bg-white">
      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="mx-auto py-20">{% block content %}{% endblock %}</div>
      </div>
    </div>
    {% include "components/footer.html" %}
    <script type="text/javascript" src="{% static 'dist/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
