{% load static wagtailcore_tags wagtailuserbar django_browser_reload django_vite
%}
<!doctype html>
<html lang="fr">
  <head>
    {% vite_hmr_client %} {% vite_asset 'static_src/js/main.js' defer="true" %}
    <meta charset="utf-8" />
    <title>Coucou</title>
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if request.in_preview_panel %}
    <base target="_blank" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'dist/main.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'dist/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
