{% extends "base.html" %} {% load wagtailimages_tags %} {% block content %}
<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav
      class="flex items-center justify-between p-6 md:px-8"
      aria-label="Global"
    >
      <div class="flex flex-1 text-rcf-blue-950 text-lg gap-2">
        Retail Conseil
        <span class="text-rcf-orange-500 text-2xl font-cursive">&</span>
        Formation
      </div>
      <div class="flex gap-x-4 text-sm/6 font-semibold text-gray-900">
        <a href="#">Qui suis-je ?</a>
        <a href="#">Conseil et accompagnement</a>
        <a href="#">Formation</a>
        <a href="#">Ma démarche</a>
      </div>
      <div class="flex flex-1 justify-end">
        <a href="#" class="btn-primary">Me contacter</a>
      </div>
    </nav>
  </header>
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto py-32 py-42">
      <div class="roulette-container mt-12 flex gap-2 items-start h-[200px]">
        <span class="font-bold text-xl w-full text-end"
          >{{ page.fixed_text }}</span
        >
        <div class="relative w-full rotating-part">
          <span class="rotating-item on text-2xl"
            >{{ page.rotating_text_A }}</span
          >
          <span class="rotating-item before text-2xl"
            >{{ page.rotating_text_B }}</span
          >
          <span class="rotating-item after text-2xl"
            >{{ page.rotating_text_C }}</span
          >
        </div>
      </div>
      <div class="flex justify-around items-center">
        <div class="relative">
          {% image page.photo width-200 as tmp_image %}
          <img
            class="rounded-full w-[300px] h-[300px] object-cover relative z-10"
            src="{{ tmp_image.url }}"
            alt="portrait"
          />
          <div
            class="absolute top-[10px] left-[20px] bg-rcf-orange-500 w-[300px] h-[300px] rounded-full"
          ></div>
        </div>
        <div class="flex flex-col items-end">
          <h1
            class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl text-rcf-blue-950 text-end"
          >
            {{ page.custom_title }}
          </h1>
          <p
            class="mt-8 text-lg font-medium text-pretty text-right text-gray-500 sm:text-xl/8"
          >
            {{ page.subtitle }}
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{{ page.cta_link_A }}" class="btn-primary"
              >{{ page.cta_text_A }}</a
            >
            <a
              href="{{ page.cta_link_B }}"
              class="text-sm/6 font-semibold text-gray-900 hover:text-rcf-blue-900"
              >{{ page.cta_text_B }} <span aria-hidden="true">→</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
