{% extends "base.html" %} {% load static %} {% block content %}
<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav
      class="flex items-center justify-between p-6 md:px-8"
      aria-label="Global"
    >
      <div class="flex flex-1">Retail Conseil & Formation</div>
      <div class="flex gap-x-4">
        <a href="#" class="text-sm/6 font-semibold text-gray-900"
          >Qui suis-je ?</a
        >
        <a href="#" class="text-sm/6 font-semibold text-gray-900"
          >Conseil et accompagnement</a
        >
        <a href="#" class="text-sm/6 font-semibold text-gray-900 font-text"
          >Formation</a
        >
        <a href="#" class="text-sm/6 font-semibold text-gray-900"
          >Ma démarche</a
        >
      </div>
      <div class="flex flex-1 justify-end">
        <a href="#" class="text-sm/6 font-semibold text-gray-900"
          >Me contacter</a
        >
      </div>
    </nav>
  </header>
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto py-32 py-42">
      <div class="roulette-container mt-12 flex gap-2 items-start h-[200px]">
        <span class="font-bold text-xl w-full text-end"
          >J’accompagne les dirigeants et leurs équipes à</span
        >
        <div class="relative w-full rotating-part">
          <span class="rotating-item on text-2xl"
            >optimiser l’efficacité commerciale</span
          >
          <span class="rotating-item before text-2xl"
            >améliorer l’expérience client</span
          >
          <span class="rotating-item after text-2xl"
            >optimiser la rentabilité</span
          >
        </div>
      </div>
      <div class="text-center">
        <h1
          class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl text-rcf-orange"
        >
          Philippe Le Frapper
        </h1>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          Formateur et consultant dans la Distribution Spécialisée et le Négoce
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="#"
            class="rounded-md bg-rcf-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-rcf-orange focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Get started</a
          >
          <a href="#" class="text-sm/6 font-semibold text-gray-900"
            >Learn more <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
